  *{
    box-sizing: border-box;
  }

  body{
   	margin: 0;
   	padding: 0;
    font-size: 16px;
   }

   .container{
    width: 100%;  
    margin: 1vh 0;
    padding: 0 1.5rem;
   }

/*----------------------Header------------------------------------*/
    header{
     min-height: 8vh;
     background-color: #EC5925;
     display: block;
    }

/*----------------------Container------------------------------------*/

.container > div:first-child{
    min-height: 30vh; 
    background-color: #CBC7C7;
    border: solid 1px red;
    margin-bottom: 1vh;
    text-align: center;
    line-height: 30vh;
}

.middle div{
    min-height: 30vh; 
    line-height: 30vh;
    background-color: #CBC7C7;
    border: solid 1px red;
    margin-bottom:1vh;
    text-align: center;
}
 
.bottom div{
    min-height: 30vh;  
    background-color: #CBC7C7;
    border: solid 1px red;
    text-align: center;
    line-height: 30vh;
    margin-bottom:1vh;
}

/*----------------------Media Queries------------------------------*/
@media (min-width:768px){
  .middle::after{
    content: "";
    clear:left;
    display: block;
  }
  .middle div{
   min-height: 20vh; 
   line-height: 20vh; 
   float: left;
   width: 24%;
   margin-right:1%;
  }
  .middle div:nth-child(4){
   width:25%;
   margin-right: 0;
  }
} 

@media (min-width: 768px){
  .bottom::after{
    content: "";
    clear:left;
    display: block;
  }
  .bottom > div:first-child{
   float: left;
   width: 63%; 
   } 
   
  .bottom > div:last-child{
   float: right;
   width: 36%; 
   }
  .bottom div{
    margin-bottom: 0;
  } 
}

/*-----------------------------Footer------------------------------*/
  footer{
     min-height: 7vh;
     background-color: #534F4F;
  } 
